#allCategories {
  border: 1px solid black;
  color: black;

}

#allCategories a{
  cursor: pointer;
}

#categories {
  border: 1px solid black;
  display: block;
  color: black;

}

#categories a{
  cursor: pointer;
}



#categories .card-body{
  background-color:#e1f0ff;
}

#categories .card-header{
  background-color:#e1f0ff;
}
