#footerDiv {

	background-color: rgb(229 225 225) !important;
	line-height: 2rem;
	margin-top: 10rem;

}

#footerDiv .col-lg-2 a {
	color: black;
}



#textBottom {
	background-color: rgb(194, 194, 194);
	color: rgb(55, 54, 54);
	padding: 1rem;
}

