.buttons-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .allCards{
	width: 100%;
} */

.card {
	width: 49%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	margin-left: auto;
}


.card-img-top {
	opacity: 1;
	display: block;
	width: 300px;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	margin: auto;
}

.productCard {
	padding-left: 0px;
	padding-right: 0px;
}

.sepeteEkle {
	top: 40%;
	left: 50%;
}

.detayaGit {
	top: 55%;
	left: 50%;
}

.store-item-icon {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 25px;
	padding: 10px 10px;
}

.store-item-icon:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

.card:hover .card-img-top {
	opacity: 0.3;
}

.card:hover .store-item-icon {
	opacity: 1;
}

.store-item-icon i {
	font-size: x-large;
}


.fa-heart {
	color: #dd1f1f;
}


.card .fa-heart-o,
.fa-heart {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.cart-price {
	float: right;
	margin-right: 1rem;
	color: #fff;
	margin-top: 8px;

}

.card-title {
	float: left;

	margin-left: 1rem;
	color: #fff;
	margin-top: 8px;
}

.card-body {
	padding: 5px;
	background-color: rgb(85, 84, 84);
}

#title{
  background-color:#f5f5f5;
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
}
