<div class="alert alert-danger mt-3" *ngIf="error">
  {{error}}

</div>

<div *ngIf="products.length>0; else no_products">

  <h4 id="title" class="text-center mt-3 p-2" style="border:1px solid rgb(2, 1, 2)">{{title | titlecase}}</h4>

  <div id="search" class="my-2 my-lg-0">
    <input [(ngModel)]="filterProducts" (ngModelChange)="onInputChange()" id="searchInput" class="form-control me-sm-2"
      type="text" placeholder="Arama...">

  </div>

  <div class="alert alert-primary mt-3">{{filteredProducts.length}} adet ürün bulundu</div>

  <ng-template [ngTemplateOutlet]="productList"></ng-template>


</div>



<ng-template #productList>



  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 row-cols-lg-3 g-3 ">
    <div class="col card" *ngFor="let item of filteredProducts">
      <img class="card-img-top h-100" src="../../../../assets/images/{{item.imageUrl}}" alt="image">

      <i class="fa fa-heart-o" aria-hidden="true"></i>
  
        <button class="store-item-icon text-capitalize">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          add to cart
        </button>
 
    

      <div class="card-body">
        <span class="card-title">HP Laptop</span>
        <span class="cart-price">$1200</span>
      </div>
    </div>
  </div>


</ng-template>

<ng-template #no_products>

  <div class="alert alert-primary mt-3">Herhangi Bir Ürün Bulunamadı</div>

</ng-template>