.detailProduct {
	padding-top: 2%;
}
.productName{
    padding-bottom: 15px;
}
.productIcons{
    padding-top: 15px;
}
.card-text{
    font-family:Arial, Helvetica, sans-serif;
}
.card-img-top{
    height: 70%;
    border-radius: 8px;
}